<div id="tweet">
  <form action="/tweet" method="post">
    <input type="text" id="status" name="status">
    <input type="submit" id="submit_tweet" value="Tweet"> 
  </form>
</div>
<div id='status'>
  <h1></h1>
</div>
